name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Run
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: |
          rustup set profile minimal
          rustup install stable
          rustup component add rustfmt clippy
          cargo install cargo-audit
      - name: build
        run: cargo build
      - name: check
        run: cargo check
      - name: fmt
        run: cargo fmt --all -- --check
      - name: clippy
        run: cargo clippy -- -D warnings
      - name: audit
        run: cargo audit
      - name: test
        run: cargo test
